.intro {
	background: url('/assets/img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}
.intro h1 {
    font-weight: 900;
    text-transform: uppercase;
}
.intro h5 {
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}
.post-title a:hover {
	text-decoration: underline;
}
.post-content img {
	height : 10%;
	float : left;
}
.post-info {
	margin-bottom : 10px;
}
.about .card
{
    text-align: center;
}